{% extends "base.html" %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <link href="/static/css/index.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="topdiv">

        <div class="fons"></div>


        <div class="text-benvinguda" hidden="">{{ text.main.main_text| safe }}</div>
        <!--<img class="page_cenefa" src="/static/img/cenefa-vermell-reduced.png" id="page_cenefa"/>-->
        <div class="capsalera_background"></div>
        <img class="page_cenefa" src="/static/img/cenefa-blanc-reduced.png" id="page_cenefa"/>

        <div class="text-benvinguda2">
            {{ text.main.main_text2| safe }}
        </div>

        <div class="logos_llenguatge">
            <a href="/ca/game/presentacio">
                <button class="bx bx-push bx-redstencilwhite logos_idioma">CAT</button>
            </a>
            <a href="/es/game/presentacio" class="logos_idioma">
                <button class="bx bx-push bx-redstencilwhite logos_idioma">ESP</button>
            </a>
            <a href="/en/game/presentacio" class="logos_idioma">
                <button class="bx bx-push bx-redstencilwhite logos_idioma">ENG</button>
            </a>

        </div>


        <div class="vull-jugar">
            <form method="post" action="/{{ lang }}/user/nickname">
                <button class="bx bx-push bx-redstencil">
                    {{ text.main.boto }}
                </button>
            </form>
        </div>

        <hr class="separador-bottom" />

        <!--
        <img id="imatge_logos" src="/static/img/logos/all_logos.png"/>
        -->

    </div>

{% endblock %}

{% block javascript %}
    <script>
        $("a").click(function (event) {
            event.preventDefault();
            window.location = $(this).attr("href");
        });
    </script>

{% endblock %}